psycopg2==2.6.1
boto==2.39.0
boto3==1.3.0
findspark==0.0.5
pandas==0.18.0
python-snappy==0.5
future==0.15.2
Django==1.7.1
pycurl==7.43.0
django-getenv==1.3.1
django-celery==3.1.17
requests-futures==0.9.5
raven==5.9.0
django-fixture-magic==0.0.4
testing.postgresql==1.3.0
yajl==0.3.5
sklearn
luigi==2.1.1
gluish==0.2.6
seaborn==0.7.1
matplotlib==1.5.1
sklearn_pandas
tables==3.2.2
mpld3==0.2
kmodes==0.6
scipy==0.17.1
networkx==1.11
bokeh==0.12.1
python-highcharts==0.2.0
h5py==2.6.0